form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  input {
    padding: 10px;
    width: 50%;
    border-radius: 7px;
    border: 1px solid #414141;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  textarea {
    width: 50%;
    border-radius: 7px;
    border: 1px solid #414141;
    padding: 10px;
    margin-bottom: 10px;
  }
  input[type='submit'] {
    background-color: #fa4529;
    width: 150px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    &:hover {
      background-color: #40a840
    }
  }
}