
.works {
  display: flex;
  flex-wrap: wrap;
  .work-item {
      flex-basis: 30%;
      flex-grow: 1;
      margin: 30px;
    .mask {
      width: 100%;
      height: 350px;
      overflow: hidden;
      border: 1px solid #eee;
      box-shadow: 0px 5px 15px #ddd;
      img {
          width: 100%;
          transition: all 500ms;
          &:hover {
            width: 150%;
            margin-right: 30%;
          }
        }
    }
    span {
      color: gray;
      margin-top: 35px;
      display: block;
    }
    h2{
      display: block;
      color: #0e0e0e;
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 30px;
      a {
        color: #0e0e0e;
        text-decoration: none;
        transition: all 300ms;
        &:hover {
          color: #fa4529;
        }
      }
    }
    h3 {
     display: block;
     color: #777777;
     padding-top: 15px;
     margin-top: 0px;
     border-top: 1px solid #dcdcdc;
    }
  }
}
