@import './header';
@import './footer';
@import './contact';
@import './start';
@import './portfolio';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

// content

.content {
  min-height: 400px;
}

.page {
  .heading {
        font-size: 55px;
        font-weight: bold;
        color: black;
        margin-bottom: 0px;
  }
}