body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

// header nav

.header {
  height: 132px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #131313;
  margin-bottom: 35px;
  .logo {
    flex-grow: 2;
    display: flex;
    span {
      display: block;
      font-size: 110px;
      font-weight: bolder;
      margin-top: -3px;
    }
    h3 {
      display: block;
      flex-basis: 40px;
      margin-left: 10px;
      font-weight: 300;
      text-transform: uppercase;
      text-transform: uppercase;
    }
  }
  nav {
    flex-grow: 1;
    ul {
      height: 132px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
    }
    li {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
      margin-left: 15px;
      margin-right: 15px;
    }
    a {
      color: #141414;
      text-decoration: none;
      &:hover {
        color: #fa4529;
        transition: all 300ms;
      }
    }
  }
  .active {
    color: #fa4529;
  }
}


// content

.content {
  min-height: 400px;
}

// footer

footer {
  line-height: 100px;
  min-height: 150px;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  padding-top: 45px;
  border-top: 3px solid black;
  background: #f5f5f5;
  color: #444;
}